In [1]:
import pandas as pd

In [2]:
data = pd.Series([2,4,6,8,10])#Usig List
data

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [3]:
data.tolist()#Convert Series data to List

[2, 4, 6, 8, 10]

In [5]:
#Artimetic operations
d1 = pd.Series([2,4,6,8,10])
d2 = pd.Series([1,3,5,7,9])
df = d1+d2
df

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [7]:
df = d1-d2
df

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [8]:
df = d1*d2
df

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [9]:
df = d1/d2
df

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [10]:
#Write a Pandas program to compare the elements of the two Pandas Series.
print(d1==d2)
print(d1>d2)
print(d1<d2)

0    False
1    False
2    False
3    False
4    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [11]:
#Convert Dictnory to Series
d1 ={'a':100,'b':200,'c':300,'d':400,'e':800}
df = pd.Series(d1)
df

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [12]:
#Convert numpy array to pandas
import numpy as np
np_array = np.array([10,20,30,40,50])
df = pd.Series(np_array)
df

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [13]:
#Change the datatype of object
d1= pd.Series(['100','200','300.12','python','400'])
print(d1)
df = pd.to_numeric(d1,errors='coerce')
df

0       100
1       200
2    300.12
3    python
4       400
dtype: object

0    100.00
1    200.00
2    300.12
3       NaN
4    400.00
dtype: float64

In [16]:
#Write a Python Pandas program to convert the first column of a DataFrame as a Series.

d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
print(df)
s1 = df.iloc[:,0]
s1

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [20]:
#Convert series into array
d = pd.Series(['100', '200', 'python', '300.12', '400'])
print(d)
df = pd.array(d.values.tolist())
df

0       100
1       200
2    python
3    300.12
4       400
dtype: object

<PandasArray>
['100', '200', 'python', '300.12', '400']
Length: 5, dtype: str192

In [21]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print(s)
s1 = s.apply(pd.Series).stack().reset_index(drop=True)
print(s1)

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [24]:
s = pd.Series(['100', '200', 'python', '300.12', '400']).sort_values()
s

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [26]:
#Add data to an existing series
s1=s.append(pd.Series([500,'php'],index=[5,6]))
s1

0       100
1       200
3    300.12
4       400
2    python
5       500
6       php
dtype: object

In [27]:
#Write a Pandas program to create a subset of a given series based on value and condition.
s = pd.Series([0,1,2,3,4,5,6,7,8,9,10])
n=6
s1=s[s<n]
s1

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [29]:
#Write a Pandas program to change the order of index of a given series.
s = pd.Series(data=[1,2,3,4,5],index=['a','b','c','d','e'])
print(s)
df = s.reindex(index=['b','a','c','e','d'])
df

a    1
b    2
c    3
d    4
e    5
dtype: int64

b    2
a    1
c    3
e    5
d    4
dtype: int64

In [30]:
print(s.mean())
print(s.std())

3.0
1.5811388300841898

In [32]:
#Write a Pandas program to get the items of a given series not present in another given seriess1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([2,4,6,8,10])
df = s1[~s1.isin(s2)]
df

0    1
2    3
4    5
dtype: int64

In [33]:
#Write a Pandas program to get the items which are not common of two given series.
s11 = pd.Series(np.union1d(s1,s2))
s22 = pd.Series(np.intersect1d(s1,s2))
df = s11[~s11.isin(s22)]
df

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [35]:
#Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.
d1 = np.random.RandomState(100)
d2 = pd.Series(d1.normal(10,4,20))
df = np.percentile(d2,q=[0,25,50,75,100])
df

array([ 3.00093811,  8.09463867, 10.23353705, 12.21537733, 14.61214321])

In [37]:
#Unique Value
num_series = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=40)))
df = num_series.value_counts()
df

8    7
4    6
1    5
3    5
2    5
0    4
6    3
7    2
5    2
9    1
dtype: int64

In [40]:
#Most Frequest Value
np.random.RandomState(100)
num_series = pd.Series(np.random.randint(1, 5, [15]))
print(num_series)
df = num_series[~num_series.isin(num_series.value_counts().index[:1])]='other'
df

0     2
1     2
2     4
3     2
4     2
5     2
6     3
7     4
8     3
9     1
10    1
11    4
12    1
13    4
14    4
dtype: int64

'other'

In [45]:
#Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.
d1 = pd.Series(np.random.randint(1,10,9))
print(d1)
df = np.argwhere(d1 % 5==0)
df

0    2
1    4
2    8
3    7
4    2
5    6
6    8
7    1
8    7
dtype: int64

array([], shape=(0, 1), dtype=int64)

In [47]:
#Write a Pandas program to extract items at given positions of a given series.
num_series = pd.Series(list('2390238923902390239023'))
element_pos = [0, 2, 6, 11, 21]
print(num_series)
df = num_series.take(element_pos)
df

0     2
1     3
2     9
3     0
4     2
5     3
6     8
7     9
8     2
9     3
10    9
11    0
12    2
13    3
14    9
15    0
16    2
17    3
18    9
19    0
20    2
21    3
dtype: object

0     2
2     9
6     8
11    0
21    3
dtype: object

In [48]:
#Write a Pandas program to get the positions of items of a given series in another given series.
s1= pd.Series([1,2,3,4,5,6,7,8,9,10])
s2 = pd.Series([1,3,5,7,10])
df = [pd.Index(s1).get_loc(i) for i in s2]
df

[0, 2, 4, 6, 9]

In [49]:
#Write a Pandas program to calculate the number of characters in each word in a given series.
s1 = pd.Series(['Php','Python','java','C++'])
df = s1.map(lambda x:len(x))
df

0    3
1    6
2    4
3    3
dtype: int64

In [51]:
#Write a Pandas program to calculate the number of characters in each word in a given series.
df = s1.map(lambda x: x[0].upper()+x[1:-1]+x[-1].upper())
df

0       PhP
1    PythoN
2      JavA
3       C++
dtype: object

In [53]:
#Write a Pandas program to compute difference of differences between consecutive numbers of a given series.
s1 = pd.Series([1,3,5,8,10,11,15])
print(s1.diff().tolist())
print(s1.diff().diff().tolist())

[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

In [54]:
#Convert into Time series
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
df = pd.to_datetime(date_series)
df

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [57]:
#date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
from dateutil.parser import parse
d1 = date_series.map(lambda x: parse(x))
print(d1.dt.day.tolist())
print(d1.dt.dayofyear.tolist())
print(d1.dt.weekofyear.tolist())
print(d1.dt.weekday_name.tolist())

[1, 2, 7, 6, 12, 6]
[1, 276, 66, 126, 103, 96]
[1, 39, 10, 19, 15, 14]
['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

In [61]:
#Filter Words
from collections import Counter
d1 = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
df = mask = d1.map(lambda x: sum([Counter(x.lower()).get(i,0) for i in list('aeiou')]))>=2
d1[df]

1     Green
2    Orange
4    Yellow
5     White
dtype: object